version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: hostelconnect-postgres
    environment:
      POSTGRES_DB: hostelconnect
      POSTGRES_USER: hostelconnect
      POSTGRES_PASSWORD: hostelconnect_secret
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U hostelconnect" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: hostelconnect-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mailhog:
    image: mailhog/mailhog:latest
    container_name: hostelconnect-mailhog
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.0
    container_name: hostelconnect-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200/_cluster/health || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 10

  app:
    build: .
    container_name: hostelconnect-app
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_URL: jdbc:postgresql://postgres:5432/hostelconnect
      DB_USERNAME: hostelconnect
      DB_PASSWORD: hostelconnect_secret
      REDIS_HOST: redis
      REDIS_PORT: 6379
      JWT_SECRET: ${JWT_SECRET:-change-this-to-a-very-long-secret-key-at-least-256-bits-long}
      MAIL_HOST: mailhog
      MAIL_PORT: 1025
      ADMIN_EMAIL: ${ADMIN_EMAIL:-admin@hostelconnect.gh}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD:-Admin@1234}
      ES_URI: http://elasticsearch:9200
    ports:
      - "8080:8080"

volumes:
  postgres_data:
  redis_data:
  es_data:

